body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.barre-de-navigation {
    background-color: #383c44;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7px;
}

.titre {
    margin: 0;
    font-size: 20px;
    color: #6a8915;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px; 
}

.menu ul li a {
    margin-top: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex; 
    padding: 2px; 
}



#svg-spinner {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
    -moz-transition-property: -moz-transform;
    
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
    transition-property: transform;
    transition-duration: 1.2s;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 13px; 
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes rotate {
    from {
      -moz-transform: rotate(0deg);
    }
  
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  #chargement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }