.formulaireMotDePasseOublier #btnChangerMotDePasse:hover {
  opacity: 0.5; 
  
  }

.entete {
    position: relative;
    text-align: center;
}

.entete h1 {
    color: #576E23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    
}

.entete img {
    opacity: 0.15;
}

.formulaireMotDePasseOublier #erreurInterfaceNouveauMotDePasse {
    color: red;
    width: 90%;
    box-sizing: border-box;
    font-size: 13px;
}

.formulaireMotDePasseOublier #DivLabelNouveauMotDePasse,.formulaireMotDePasseOublier #DivLabelConfirmerNouveauMotDePasse{
  display: flex;
  margin-bottom: 5px;
}

.formulaireMotDePasseOublier #labelNouveauMotDePasse,.formulaireMotDePasseOublier #LabelConfirmerNouveauMotDePasse{
  color: white;
  font-size: 13px;
}


form{
  margin-top: 15px;

}

.formulaireMotDePasseOublier #LabelConfirmerNouveauMotDePasse,.formulaireMotDePasseOublier #LabelConfirmerNouveauMotDePasse{
  margin-top: 15px;

}



.formulaireMotDePasseOublier {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.formulaireMotDePasseOublier input{
    border-radius: 12px;
    width: 90%;
    box-sizing: border-box;
}

.formulaireMotDePasseOublier input::placeholder {
    color: black;
}

.formulaireMotDePasseOublier #DivNouveauMotDePasse {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;

}

#chargement{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    #DivNouveauMotDePasse input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; 
      -moz-appearance: none;    
      appearance: none;        
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    #DivNouveauMotDePasse input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    #DivNouveauMotDePasse input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    #DivNouveauMotDePasse input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    #DivNouveauMotDePasse input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    #DivNouveauMotDePasse input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    #DivNouveauMotDePasse input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    #DivNouveauMotDePasse input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    #DivNouveauMotDePasse input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    #DivNouveauMotDePasse input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    #DivNouveauMotDePasse input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    #DivNouveauMotDePasse input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    #DivNouveauMotDePasse input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    #DivNouveauMotDePasse input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    #DivNouveauMotDePasse input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  #DivNouveauMotDePasse * {
    box-sizing: inherit;
  }
  #DivNouveauMotDePasse *:before,
  #DivNouveauMotDePasse *:after {
    box-sizing: inherit;
  }



.formulaireMotDePasseOublier #labelAfficherNouveauMotDePasse{
    color: white;
    text-align:right;
    font-size: 16px;
}

.formulaireMotDePasseOublier #AfficherNouveauMotDePasse{
    display: flex;
    width: 15px;
    height: 15px;
    transform: scale(0.7);
}

.formulaireMotDePasseOublier #labelAfficherConfirmerMotDePasse{
    color: white;
    text-align:right;
    font-size: 16px;
}

.formulaireMotDePasseOublier #AfficherConfirmerMotDePasse{
    display: flex;
    width: 15px;
    height: 15px;
    transform: scale(0.7);
}


.formulaireMotDePasseOublier #content {
  height: 100%;
  display: flex; 
  flex-direction: column;  
  
}

.formulaireMotDePasseOublier #btnChangerMotDePasse{
    margin-top: 25px;
    width: 188px;
}





.formulaireMotDePasseOublier button {
    width: 95px;
    font-size: 14px;
    margin-top: 30px;
    box-sizing: border-box;
    background-color: rgb(38, 114, 236);
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}



#svg-spinner {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
    -moz-transition-property: -moz-transform;
    
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
    transition-property: transform;
    transition-duration: 1.2s;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 13px;  
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes rotate {
    from {
      -moz-transform: rotate(0deg);
    }
  
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }




@media (max-width: 320px) {
  .entete img {
    width: 100%;
    max-width: 175px;
}

.entete h1 {
    font-size: 35px;
}


.formulaireMotDePasseOublier #content {
    width: 84%;
}

.formulaireMotDePasseOublier #erreurInterfaceNouveauMotDePasse {
    width: 84%;
}



.formulaireMotDePasseOublier #div {
  width: 84%;

}

.formulaireMotDePasseOublier #DivNouveauMotDePasse,.formulaireMotDePasseOublier #DivLabelNouveauMotDePasse,.formulaireMotDePasseOublier #DivLabelConfirmerNouveauMotDePasse {
    width: 82%;
}


.formulaireMotDePasseOublier input {
  max-width: 260px;
  height: 40px;
}

}

@media (min-width: 320px) and (max-width: 480px){
    .formulaireMotDePasseOublier #DivNouveauMotDePasse {
        width: 250px;
    }


  .entete img {
      width: 100%;
      max-width: 175px;
  }

  .entete h1 {
      font-size: 35px;
  }

  .formulaireMotDePasseOublier input {
      max-width: 260px;
      height: 40px;
  }

  .formulaireMotDePasseOublier a,.formulaireMotDePasseOublier #erreurInterfaceNouveauMotDePasse{
      max-width: 260px;
  }

  .formulaireMotDePasseOublier #content,.formulaireMotDePasseOublier #DivLabelNouveauMotDePasse,.formulaireMotDePasseOublier #DivLabelConfirmerNouveauMotDePasse  {
    width: 250px; 
    
}

}
/* Pour les écrans moyens */
@media (min-width: 481px) and (max-width: 768px) {

    .entete img {
        width: 50%;
        max-width: 220px;
    }

    .entete h1 {
        font-size: 44px;
    }

    .formulaireMotDePasseOublier input {
        max-width: 340px;
        height: 42px;
    }

    .formulaireMotDePasseOublier a,.formulaireMotDePasseOublier #erreurInterfaceNouveauMotDePasse{
        max-width: 340px;
    }

    .formulaireMotDePasseOublier #DivNouveauMotDePasse {
        width: 330px;
    
    }

    .formulaireMotDePasseOublier #content, .formulaireMotDePasseOublier #DivLabelNouveauMotDePasse, .formulaireMotDePasseOublier #DivLabelConfirmerNouveauMotDePasse{
      width: 330px;
  }
}

/* Pour les écrans larges */
@media (min-width: 769px) {

    .entete img {
        width: 230px;
    }

    .entete h1 {
        font-size: 46px;
    }

    .formulaireMotDePasseOublier input {
        max-width: 360px;
        height: 44px;
    }
    
    .formulaireMotDePasseOublier a,.formulaireMotDePasseOublier #erreurInterfaceNouveauMotDePasse{
        max-width: 360px;
    }

    .formulaireMotDePasseOublier #DivNouveauMotDePasse {
        width: 350px;
    }

    .formulaireMotDePasseOublier #content, .formulaireMotDePasseOublier #DivLabelNouveauMotDePasse,.formulaireMotDePasseOublier #DivLabelConfirmerNouveauMotDePasse {
      width: 350px;
  }

}
