body {
    background: black;
}

.entete {
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.entete h1 {
    color: #576E23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    
}

.entete img {
    opacity: 0.15;
}

.formulaireconnexion #ConnexionErreur {
    color: red;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}


.formulaireconnexion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.formulaireconnexion input{
    border-radius: 50px;
    width: 90%;
    box-sizing: border-box;
}

.formulaireconnexion input::placeholder {
    color: black;
}

.formulaireconnexion a{
    width: 90%;
    height: 10px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    
}

.formulaireconnexion #btnConnexion{
    margin-top: 5px;
}

.formulaireconnexion #txtPassword {
    margin-top: 40px;
}

.formulaireconnexion #btnCreationCompte{
    margin-top: 20px;
}

.formulaireconnexion #btnMotdepasseoublier{
    margin-top: 20px;
    font-size: 10px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1%;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 4px 0;
    text-align: left;
    font-size: 10px;
}

/* Pour les écrans petits */
@media (max-width: 480px) {
    .entete img {
        width: 100%;
        max-width: 175px;
    }

    .entete h1 {
        font-size: 35px;
    }

    .formulaireconnexion input {
        max-width: 260px;
        height: 40px;
    }

    .formulaireconnexion a,.formulaireconnexion #ConnexionErreur{
        max-width: 260px;
    }

}

/* Pour les écrans moyens */
@media (min-width: 481px) and (max-width: 768px) {
    .entete img {
        width: 50%;
        max-width: 220px;
    }

    .entete h1 {
        font-size: 44px;
    }

    .formulaireconnexion input {
        max-width: 340px;
        height: 42px;
    }

    .formulaireconnexion a,.formulaireconnexion #ConnexionErreur{
        max-width: 340px;
    }

}

/* Pour les écrans larges */
@media (min-width: 769px) {
    .entete img {
        width: 230px;
    }

    .entete h1 {
        font-size: 46px;
    }

    .formulaireconnexion input {
        max-width: 360px;
        height: 44px;
    }
    
    .formulaireconnexion a,.formulaireconnexion #ConnexionErreur{
        max-width: 360px;
    }

}
