body {
    background: black;
}

.entete {
    position: relative;
    text-align: center;
}

.entete h1 {
    color: #576E23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    
}

.entete img {
    opacity: 0.15;
}


.formulaireConnexion #ConnexionErreur {
    color: red;
    font-size: 13px;
    display: flex;
}


.formulaireConnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formulaireConnexion #content {
    height: 100%;
    display: flex; 
    flex-direction: column;  
    
}


.formulaireConnexion input{
    border-radius: 50px;
    width: 90%;
    box-sizing: border-box;
}

.formulaireConnexion input::placeholder {
    color: black;
}

.formulaireConnexion a{
    font-size: 14px;
    width: 90%;
    height: 10px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    text-align: left; 

    
}

.formulaireConnexion #btnConnexion{
    width: 90px;
    font-size: 14px;
    margin-top: 30px;
    box-sizing: border-box;
    color: black;
    background-color: rgb(38, 114, 236);
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;

}

.formulaireConnexion #btnConnexion:hover {
opacity: 0.5; 

}

.formulaireConnexion #txtMotDePasse {
    margin-top: 40px;
}

.formulaireConnexion #CreationCompte{
    margin-top: 40px;
}

.formulaireConnexion #MotDePasseOublier{
    margin-top: 20px;

}

footer {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1%;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 4px 0;
    text-align: left;
    font-size: 10px;
    
}

#txtConfirmation{
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    width: 90%;
}


@media (max-height: 588px) {
    footer {
        background-attachment: local;
        flex-direction: column;
        margin-top: 84px; 
        width: 100%;
        text-align: center;
        position: relative; /* Change to relative */
    }
    
    footer a {
        color: white;
        text-decoration: none;
        margin: 4px 0;
        font-size: 10px;
    }
}

/* Pour les écrans petits */
@media (max-width: 320px) {
    .entete img {
        width: 100%;
        max-width: 175px;
    }

    .entete h1 {
        font-size: 35px;
    }

    .formulaireConnexion input {
        max-width: 260px;
        height: 40px;
    }


    .formulaireConnexion a,.formulaireConnexion #ConnexionErreur,.formulaireConnexion #btnConnexion{
        max-width: 260px;
    }

    .formulaireConnexion #content {
        width: 84%;
    }

    .formulaireConnexion #ConnexionErreur {
        width: 84%;

    }
}

/* Pour les écrans petits */
@media (min-width: 320px) and (max-width: 480px) {
    .entete img {
        width: 100%;
        max-width: 175px;
    }

    .entete h1 {
        font-size: 35px;
    }

    .formulaireConnexion input {
        max-width: 260px;
        height: 40px;
    }


    .formulaireConnexion a,.formulaireConnexion #ConnexionErreur,.formulaireConnexion #btnConnexion{
        max-width: 260px;
    }

    .formulaireConnexion #content {
        width: 250px; 
        
    }

    .formulaireConnexion #ConnexionErreur {
        width: 250px; 

    }



}

/* Pour les écrans moyens */
@media (min-width: 481px) and (max-width: 768px) {
    .entete img {
        width: 50%;
        max-width: 220px;
    }

    .entete h1 {
        font-size: 44px;
    }

    .formulaireConnexion input {
        max-width: 340px;
        height: 42px;
    }

    .formulaireConnexion a,.formulaireConnexion #ConnexionErreur,.formulaireConnexion #btnConnexion{
        max-width: 340px;
    }

    .formulaireConnexion #content {
        width: 330px;
    }

    .formulaireConnexion #ConnexionErreur {
        width: 330px;

    }

}

/* Pour les écrans larges */
@media (min-width: 769px) {
    .entete img {
        width: 230px;
    }

    .entete h1 {
        font-size: 46px;
    }

    .formulaireConnexion input {
        max-width: 360px;
        height: 44px;
    }
    
    .formulaireConnexion a,.formulaireConnexion #ConnexionErreur,.formulaireConnexion #btnConnexion{
        max-width: 360px;
    }

    .formulaireConnexion #content {
        width: 350px;
    }

    .formulaireConnexion #ConnexionErreur {
        width: 350px;

    }

}
